body{
    margin: 0 auto;
    border-left: 180px solid #ebe3e3;
    border-right: 180px solid #ebe3e3;
    border-top: 20px solid #ebe3e3;
    border-bottom: 20px solid #ebe3e3;
    font-family: 'Open Sans', sans-serif;
    font-size: 12;
    color: #606060;    
}

.carousel-inner img {
    max-height: 450px;
    max-width: 450px;
    margin-left: 150px;
    
}

.carousel-inner{
 height: 500px;
 
}

.carousel img {
    width:70% ;
    min-width:70%;
    height: auto;
}

.titulo1{
    font-size: 40px;
    color: #606060;
}

.contenedor-categorias{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

header{
    background: #f3f0f0;
    height: 300px;
}

.texto-header{
    text-align: center;
}

.linea1{
    margin-left: 390px;
    width: 200px;
    
}

.boton-texto{
    margin-top: 20px;
}

nav {
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color: #606060;
    font-weight: 400;
    text-decoration: none;
    margin-right: 20px;
}

nav img{
    border: grey 10px solid;
    width: 25px;
    height: 25px;
    border: none;
}

.formulario-busqueda-boton{
    text-align: center;
}

input[type="text"]
{
    width: 30%;
    padding: 8px;
}

input[type="submit"]{
    background-color: grey;
    padding: 8px;
    width: 100px;
    
}


.contenedor-categorias{
    text-align: center;
    padding: 60px;
    
}

.categorias-imagenes{
    display: flex;
    justify-content: space-evenly;
    padding: 18px;
    
}

.cont-categorias{
    width: 20%;
    height: 200px;
    margin-bottom: 120px;
    text-align: center;
}

.cont-categorias > img{
    width: 100%;
    height: 100%;
    
}

.camb-recientes{
    text-align: center;
}

.imagenes-camb{
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}

.imagenes-camb-recientes{
    width: 30%;
    height: 430px;
    margin-bottom: 25px;
    text-align: center;
    
}

.imagenes-camb-recientes a,img{
    border: 3px solid #606060;
    width: 80%;
    height: 80%;
    
}

footer{
    text-align: center;
}
.content-foo a{
    color: #606060;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}







