body{
    margin: 0 auto;
    border-left: 180px solid #ebe3e3;
    border-right: 180px solid #ebe3e3;
    border-top: 20px solid #ebe3e3;
    border-bottom: 220px solid #ebe3e3;
    font-family: 'Open Sans', sans-serif;
    font-size: 12;
    color: #606060;
}


nav {
    padding: 35px;
    background: #f3f0f0;
    text-align: right;
    
    
}

nav > a{
    
    color: #606060;
    font-weight: 400;
    text-decoration: none;
    margin-right: 20px;
    
}

nav img{
    border: grey 10px solid;
    width: 25px;
    height: 25px;
    border: none;
}

header{
    height: 100px;
}


.parrafo{
    text-align: center;

}


.titulo1{
    text-align: center;
    font-size: 30px;
    color: #606060;
}

.btn1{

    color: white;
    background-color: grey;
    margin-left: 20px;
    width: 115px;
    padding: 9px;
}


footer{
    text-align: center;
    margin-top: 100px;
}
.content-foo a{
    color: #606060;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}
