body{
    margin: 0 auto;
    border-left: 180px solid #ebe3e3;
    border-right: 180px solid #ebe3e3;
    border-top: 20px solid #ebe3e3;
    border-bottom: 220px solid #ebe3e3;
    font-family: 'Open Sans', sans-serif;
    font-size: 12;
    color: #606060;
}


nav {
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color: #606060;
    font-weight: 400;
    text-decoration: none;
    margin-right: 20px;
}

nav img{
    border: grey 10px solid;
    width: 25px;
    height: 25px;
    border: none;
}

header{
    height: 100px;
}

.texto-header{
    padding: 30px;
    background: #f3f0f0;
    text-align: center;
    margin-top: 33px;
}

.linea1{
    width: 250px;
}

.titulo1{
    font-size: 20px;
    color: #606060;
}

.textos-form{
    margin-top: 190px;
    text-align: center;
    margin-bottom: 150px;

}

input[type="text"]
{
    padding: 10px;
    width: 250px;
    
}

input[type="password"]{
    padding: 10px;
    width: 250px;
}


.texto-linea-form{
    font-size: 12px;
    margin-top: 50px;
    text-align: center;
    margin-bottom: -300px;
}

.linea2{
    width: 480px;
}

.bontones-form{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 350px;
    margin-bottom: -600px;
}

.btn1{
    color: white;
    width: 140px;
    padding: 9px;
    background-color: grey;
}

.btn2{
    width: 140px;
    padding: 9px;
}


footer{
    text-align: center;
    margin-top: 300px;
}
.content-foo a{
    color: #606060;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

@media screen and (max-width: 1000px){
    body{
        margin: 0 auto;
        border-left: 0px solid #ebe3e3;
        border-right: 0px solid #ebe3e3;
        border-top: 20px solid #ebe3e3;
        border-bottom: 220px solid #ebe3e3;
        font-family: 'Open Sans', sans-serif;
        font-size: 12;
        color: #606060;    
    }
    .bontones-form{
        margin-left: -100px;
        text-align: center;
        padding: 350px;
        margin-bottom: -600px;
    }

}

.contenedor{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
